.App {
  text-align: center;
  background-color: #CDDCDC;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}
.cards, .cards-wrapper, .addProjectForm, .addActionForm, .EditProjectForm, .image-wrapper, .action-wrapper{
  display: flex;
  justify-content: center;
  margin: 1% 0 5% 0;
}
.form{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.content{
  text-align: left
}
.action-wrapper{
padding: 5% 10%;
}
.ui.inverted.segment, .navbar{
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.container a{
  text-decoration: none;
  color:black;
}
.navbar a{
  color:black;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
}
.navigation{
  position: fixed;
  top: 0;
  left: 0;
  right: 0
}
